[submodule "vendor/fmt"]
	path = vendor/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "vendor/clickhouse"]
	path = vendor/clickhouse
	url = git@github.com:ClickHouse/clickhouse-cpp.git
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "vendor/re2"]
	path = vendor/re2
	url = git@github.com:google/re2.git
